/*keyframes e fontes*/
@import url("./keyframe.css") foto, opac;
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/*Reset's*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Varela Round", Courier, monospace;
  overflow-x: hidden;
}

/*Menu*/
.header {
  width: 100%;
  max-height: 10%;
  background: darkgrey;
}

.devicon {
  padding: 25px 0 15px 30px;
  width: 4vw;
  height: 8vh;
}

ul {
  list-style: none;
  padding-right: 20px;
}
ul li {
  float: right;
  padding-top: 40px;
}

ul a {
  display: block;
  padding: 4px 15px 4px 15px;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}

ul a:hover {
  color: aliceblue;
  background: rebeccapurple;
  border-radius: 7%;
  box-shadow: 10px 9px 7px 1px rgba(20, 20, 20, 0.4);
}

/*Biografia*/
.bio {
  background-image: url("../IMG/portfolio-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 0 5% 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.description {
  animation-name: opac;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  letter-spacing: 6px;
  font-size: 1em;
  color: #fff;
  width: 24%;
}

#foto {
  animation-name: foto;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  height: 400px;
  box-shadow: 10px 9px 7px 1px rgba(20, 20, 20, 0.4);
}

/*Portfólios/SLIDER*/
.port {
  background-color: aqua;
}

.port h1 {
  font-size: 5em;
  padding-top: 2%;
  text-align: center;
}

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide img {
  width: 50vw;
  height: 50vh;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/*tecnologias*/
#techs {
  padding: 30px 0 20px 0;
  background-color: aquamarine;
}
#techs h3 {
  padding-bottom: 30px;
  display: block;
  color: black;
  text-align: center;
}

.icons {
  justify-content: center;
  display: flex;
}

.techIcon {
  width: 8vw;
  height: 15vh;
}

/*rodapé*/
footer {
  font-size: small;
  clear: both;
  color: white;
  background: #333232;
  min-height: 120px;
}

footer h3 {
  padding-top: 30px;
  text-align: center;
}

footer p {
  padding-top: 5px;
  text-align: center;
}
