/*keyframes e fontes*/
@import url("./keyframe.css") foto, opac;
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/*Reset's*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Varela Round", Courier, monospace;
  overflow-x: hidden;
}

/*Menu*/
.head {
  /* position: fixed; */
  overflow-y: hidden;
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  background: #333232;
  justify-content: space-between;
}

.devicon {
  width: 20%;
  height: 8vh;
}

#hamburguer {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
}

#menu {
  display: block;
  position: absolute;
  width: 100%;
  top: 70px;
  right: 0;
  height: 0px;
  transition: 0.6s;
  background: rebeccapurple;
  z-index: 1000;
}

#navbar.active #menu {
  height: calc(100vh - 70px);
}

#navbar ul {
  gap: 0.5rem;
  text-align: center;
}

.nav-item a {
  display: block;
  padding: 2.8rem;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

#bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

/* Para o desktop */
/* ul a:hover {
  color: white;
  background: rebeccapurple;
  border-radius: 5%;
  box-shadow: rgba(20, 20, 20, 0.4);
} */

/*Intro  */

#intro {
  width: 100%;
  height: 100vh;
  background: white;
}

.intro-text {
  padding: 0 5% 0 5%;
  color: black;
  padding-top: 15%;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 2px;
}

/*Biografia*/
.bio {
  background-image: url("../IMG/portfolio-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description {
  animation-name: opac;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  letter-spacing: 4px;
  font-size: 0.8rem;
  padding: 15% 5% 15% 5%;
  color: #fff;
  width: 100%;
  max-width: 400px;
  display: block;
}

.description p,
h3 {
  padding: 0 5% 0 5%;
}

#foto {
  animation-name: foto;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  width: auto;
  max-height: 300px;
  box-shadow: 10px 9px 7px 1px rgba(20, 20, 20, 0.4);
}

.imgbio {
  padding-bottom: 20%;
}

.bio-link {
  display: flex;
}

.bio-img {
  height: 50px;
  width: 50px;
}

/*Portfólios/SLIDER*/
.port {
  background-color: rebeccapurple;
  text-align: center;
  letter-spacing: 2px;
}

.port-text h1 {
  font-size: 2em;
  padding-bottom: 0;
  padding-top: 25%;
}

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  transition: transform 1s;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide img {
  width: 70vw;
  height: 70vh;
}

.slider__btn {
  position: absolute;
  top: 35%;
  /* z-index: 5; */
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  font-size: 0.5rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 7%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 7%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #fff;
  opacity: 1;
}

/*tecnologias*/
#techs {
  padding: 2% 0 20px 0;
  background-color: white;
}
#techs h3 {
  padding: 10% 0 3% 0;
  display: block;
  font-size: 2em;
  color: black;
  text-align: center;
  letter-spacing: 2px;
}

.icons {
  padding-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding-bottom: 5%;
}

.techIcon {
  justify-content: center;
  padding: 1% 2% 0 2%;
  width: 30vw;
  height: 15vh;
}

/*rodapé*/
footer {
  font-size: small;
  clear: both;
  color: white;
  background: #333232;
  min-height: 150px;
}

footer h3 {
  padding-top: 17%;
  text-align: center;
}

footer p {
  padding-top: 5px;
  text-align: center;
}
