* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
}

/*Menu*/
.header {
  width: 100%;
  min-height: 10vh;
  background: darkgrey;
}

.devicon {
  padding-top: 15px;
  padding-left: 15px;
  width: 80px;
  height: 80px;
}

ul {
  list-style: none;
  padding-right: 20px;
}
ul li {
  float: right;
  padding-top: 30px;
}

ul a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

ul a:hover {
  color: aliceblue;
  background: rebeccapurple;
  border-radius: 7%;
}

/*Biografia*/
.sobre {
  display: flex;
  background-image: url("../IMG/backport.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-top: 100px;
}

.bio {
  padding-top: 10px;
  width: 500px;
  padding-left: 500px;
}

.bio h1 {
  padding-top: 100px;
  float: right;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.bio p {
  font-size: large;
  letter-spacing: 4px;
}

#foto {
  border-radius: 50%;
  height: 400px;
  box-shadow: 10px 9px 7px 1px rgba(20, 20, 20, 0.4);
}

/*Portfólios/projetos*/
.port {
  display: block;
  padding-left: 500px;
  background-color: aqua;
}

.port h1 {
  text-align: center;
  padding-right: 400px;
  padding-top: 20px;
}

.imgport {
  width: 900px;
}

/*rodapé*/
footer {
  font-size: small;
  clear: both;
  color: white;
  background: #333232;
  min-height: 120px;
}

footer h3 {
  padding-top: 30px;
  text-align: center;
}

footer p {
  padding-top: 5px;
  text-align: center;
}
